.card{
    border-radius: 5px;
    overflow: hidden;
    border: 5px solid;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    margin: 15px;

    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.card .title{
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.card .content{
    flex: 1;
    background-color: white;
    color: black;
    padding: 20px
}